* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
    background-color: goldenrod;
}

main {
    height: 400px;
    background-color: rgb(230, 220, 220);
}

footer {
    background-color: rgb(32, 218, 209);
    height: 100px;
}